.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    padding: .8rem 1rem;
    cursor: pointer;
    transition: all .3s linear;

    &.btn-blue {
        color: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
        background-color: #169fe3;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: #3794c3;
        }
    }
}

.button-box {
    justify-content: space-between;
}