.product-card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);

    .product-img {
        height: 255.83px;

        img {
            filter: brightness(.6);
            transition: .3s linear;
        }
    }

    .product-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;

        .product-title {
            color: #494F5C;
            font-size: 1.1rem;
            padding: .8rem;
        }

        .platform-list {
            display: flex;
            gap: .5rem;
            color: #494F5C;

            svg {
                font-size: 1.2rem;
            }
        }
    }

    &:hover {
        img {
            filter: brightness(1);
        }

        .product-title {
            a.border-bottom::after {
                width: 100%;
                background-color: #3b3e48;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .product-card {
        width: 100%;

        .product-img {
            img {
                object-fit: fill;
            }
        }
    }
}