@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-size: 1rem;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    padding-block: 0;
    padding-inline: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Buttons
@import url(./partials/_buttons.scss);

//Swiper
@import url(./partials/_swiper.scss);

// Cards
@import url(./partials/_product-card.scss);
@import url(./partials/_bundle-card.scss);

// Form elements
@import url(./partials/_form-elements.scss);

// Heads
@import url(./partials/_heads.scss);

// Layouts
@import url(./partials/_navbar.scss);
@import url(./partials/_footer.scss);

// Pages
@import url(./partials/_home-banner.scss);
@import url(./partials/_bundles.scss);

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
}

.none {
    display: none;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    transition: .3s linear;

    &.border-bottom {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            bottom: -.2rem;
            left: 0;
            transition: .3s linear;
        }
    }
}

.container {
    max-width: 90%;
    padding: 0 1rem;
    margin: 0 auto;
}

.not-found {
    text-align: center;
    color: #fff;

    .found-img {
        width: 30%;
        margin: 0 auto;
        padding: 1.5rem 0;

        img {
            width: 100%;
        }

    }

    .title {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    .inner-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    a {
        color: #169fe3;
    }
}

.active-page {
    display: none;
    position: relative;
    max-width: 100%;
    color: #d8d8da;
    padding: .25rem .5rem;
    border: 1px solid #d8d8da;

    .page-navigation {
        position: absolute;
        width: 100%;
        background-color: #282C34;
        border: 1px solid #7c828d;
        left: 0;
        top: 32px;
        z-index: 1;

        li {
            padding: .5rem;
        }
    }
}

@media only screen and (max-width: 767px) {
    .page-list {
        display: none;
    }
    .active-page {
        display: block;
    }
}